.success{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px){
    .success{
        margin-top: 50%;
    }
}

@media (min-width:800px){
    .success{
        margin-top: 20%;
    }
}

